.weather-app{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 0;
}
.weather-app-container{
    max-width: 600px;
    margin: 50px auto;
}
.card{
  width: 200px;
  margin-top: 20px;
  border: 1px solid gray;
}

  
  .date {
    color: rgb(135, 135, 135);
    line-height: 1.2;
    margin-top: 30px;
}
  

  h6{
    color: #272142;
    font-size: 30px;
    font-weight: 700;
margin-bottom: 0;

    
}
  .temperature{
    color: rgb(135, 135, 135);
    font-size: 45px;
    font-weight: 100;
    line-height: 19px;
    
  }
  .units{
    color: rgb(135, 135, 135);
    position: relative;
    top: -24px;
    font-size: 14px;
  }
  .description{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-transform: capitalize;
  }
  .image1{
    width: 50px;
    
  }
  .humidity-wind{
    font-size: large;
    position: relative;
    bottom: -50px;
  }
 