.weather-app{
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 0;
    background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
.weather-app-container{
    max-width: 600px;
    margin: 50px auto;
}
.card{
  width: 200px;
  margin-top: 20px;
  border: 1px solid  #5D9FFF;
  box-shadow: 1px 1px #5D9FFF;
  background:#e4f1fe ;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}

.card:hover{
  transition: width 2s, height 2s, transform 2s;
  width: 200px;
  height: 200px;
  transform: rotate(360deg);
}

  
  .date {
    color: rgb(135, 135, 135);
    line-height: 1.2;
    margin-top: 50px;
}
  

  h6{
    color: #272142;
    font-size: 30px;
    font-weight: 700;
margin-bottom: 0;


    
}
  .temperature{
    color: rgb(135, 135, 135);
    font-size: 45px;
    font-weight: 100;
    line-height: 19px;
    
  }
  .units{
    color: rgb(135, 135, 135);
    position: relative;
    top: -18px;
    font-size: 20px;
  }
  .description{
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-transform: capitalize;
  }
  
  .humidity-wind{
    font-size: large;
    position: relative;
    bottom: -50px;
  }
 
  .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
  }
  .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }
  
  .humidity-wind{
    opacity: 0.5;
  }
  .weather-forecast-temperature-min {
    opacity: 0.5;
  }
  
  .weather-forecast-temperatures {
    font-size: 13px;
  }
  #city-input{
    background: #f9f7fe;
    border: none;
    border-radius: 6px;
    color: rgba(39,33,66,.4);
   
    font-size: 16px;
    height: 40px;
    line-height: 20px;
    padding: 15px 20px;
    
  }
  #city-input{
    margin-bottom: 30px;
    height: 45px;
    background:#e4f1fe;
  }
  #search-input{
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    padding: 10px 0;
  }
